@charset "UTF-8";
/* menu */
.navbar {
  padding: 2rem;
  background-color: #003844;
}

.navbar .navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.navbar ul li a {
  color: #61b146;
  font-size: 1.2rem;
  margin: 0 20px;
}

/* Seccion */
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: "Playwrite NZ", cursive;
}

.seccion-oscura {
  color: white;
  background-color: #003844;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #615a5a;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Playwrite NZ", cursive;
}

.btn-info {
  font-size: 1.3rem;
  margin: 16px;
}

.seccion-texto {
  font-size: 1.2rem;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

.hero-principal {
  padding: 3rem;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615a5a;
}

/* Seccion inicio */
.inicio {
  height: 1000px;
  padding: 10px;
}

.inicio .contenedor {
  max-width: 600px;
  text-align: center;
}

.inicio .hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.inicio .seccion-tituloinicio {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Playwrite NZ", cursive;
  color: #61b146;
}

/* Seccion objetivos */
.objetivos {
  height: 1500px;
  padding: 10px;
}

.objetivos .contenedor {
  max-width: 600px;
  text-align: center;
}

.objetivos .hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.objetivos .seccion-tituloclara {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Playwrite NZ", cursive;
  color: #61b146;
}

.objetivos .seccion-titulooscura {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Playwrite NZ", cursive;
  color: #003844;
}

/* Seccion metodologia */
.metodologia {
  padding: 40px 40px 60px 40px;
}

.metodologia h1 {
  font-size: 2.5rem;
  font-family: "Playwrite NZ", cursive;
  text-align: center;
  color: #61b146;
  padding: 20px;
}

.metodologia i {
  font-size: 2.5rem;
  color: rgb(40, 214, 127);
  background-color: black;
  padding: 8px 19px;
  border-radius: 50%;
}

.metodologia .columna {
  padding: 20px;
  border: 2px solid rgba(128, 128, 128, 0.3019607843);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.metodologia .columna:hover {
  color: white;
  background-color: black;
}

.metodologia .metodologia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}

.metodologia .badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.metodologia .badge {
  margin: 5px;
}

/* Seccion Logrosalcanzados */
.logrosalcanzados h2 {
  font-size: 2.5rem;
  font-family: "Playwrite NZ", cursive;
  text-align: center;
  color: #61b146;
  padding: 80px;
}

.logrosalcanzados h4 {
  align-content: left;
  font-size: 2.5rem;
  font-family: "times new roman";
  text-align: left;
  color: #003844;
  padding: 80px;
}

.logrosalcanzados i {
  color: #61b146;
}

/* Cifras relevantes */
.cifrasrelevantes {
  padding: 40px 40px 60px 40px;
}

.cifrasrelevantes h2 {
  font-size: 2.5rem;
  font-family: "Playwrite NZ", cursive;
  text-align: center;
  color: #61b146;
  padding: 20px;
}

.cifrasrelevantes h3 {
  color: #61b146;
  padding: 20px;
}

/* Testimonios */
.recomendaciones {
  padding: 40px 40px 80px 40px;
}

.recomendaciones .carousel {
  max-width: 800px;
}

.recomendaciones .carousel-item {
  height: 500px;
}

.recomendaciones .carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recomendaciones .recomendaciones-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.recomendaciones .recomendaciones-texto {
  max-width: 700px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.recomendaciones .recomendacions-info {
  font-weight: bold;
  text-align: center;
}

.recomendaciones .recomendacions-info p {
  margin-bottom: 0;
}

.recomendaciones .recomendaciones-footer .cliente {
  font-size: 0.9rem;
  color: #615a5a;
}

/* Contacto */
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button:hover i {
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

/* Footer */
footer .container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer .footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

footer .footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin: 0;
  font-weight: bold;
  color: white;
}

footer .iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 10px;
  border: 2px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

footer .iconos-redes-sociales a i {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

footer .iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

footer .iconos-redes-sociales a:hover i {
  color: black;
}

footer .derechos-reservados {
  font-size: 15px;
  padding: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.767);
}

/* Responsivo */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }
  .overlay i {
    font-size: 40px;
  }
  .recomendaciones-imagen {
    height: 120px;
    width: 120px;
  }
  .recomendaciones-texto {
    font-size: 18px;
  }
} 
/* Ajuste de imágenes */
/* Imagen del desarrollador en la sección de inicio y objetivos */
.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

/* Ajustes específicos para resoluciones menores */
@media screen and (max-width: 400px) {
  .hero-imagen-desarrollador {
    height: 120px;
    width: 120px;
  }
}
.recomendaciones .recomendaciones-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}
@media screen and (max-width: 400px) {
  .recomendaciones .recomendaciones-imagen {
    height: 120px;
    width: 120px;
  }
}

/* Imagen hero inferior en pantallas grandes */
@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}/*# sourceMappingURL=Styles2.css.map */